services:
  db:
    image: postgres:17
    container_name: postgresDB
    environment:
      POSTGRES_DB: infobezDB
      POSTGRES_USER: user
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
